<%- include("../partials/head", {tituloWeb: 'Estamos Aquí' }) %>

<!-- Encabezado perosnalizado -->
<%- include('../partials/custom-header') %>

    <!--UBICACION-->

    <div class="container-mapa">
        <h1>¡¡ESTAMOS AQUÍ!!</h1>
        <p>Queremos Brindarte La Mejor Atención</p>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3978.4786473990966!2d-75.07946392601751!3d4.320800844835886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38d70498a89533%3A0x46a693b1a99d3343!2sParque%20Caik%C3%A9%20-%20Comfenalco%20Tolima!5e0!3m2!1ses!2sco!4v1695156810119!5m2!1ses!2sco"
        width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <div class="container__buttons-mapa">
        <a href="/">NUESTRAS NOVEDADES</a>
        <a href="/#seccionMenu">VER MENÚ</a>
    </div>

<!-- Footer personalizado -->
<%- include('../partials/footer') %>

<!-- Footer -->
<%- include('../partials/custom-footer') %>