<%- include("../partials/head", {tituloWeb: 'Conócenos' }) %>

<!-- Encabezado perosnalizado -->
<%- include('../partials/custom-header') %>

    <main class="container-about">
        <h1>Acerca de Nosotros</h1>

        <div class="section-about">
            <div class="section-about__content">
                <h2>Delicias Rápidas</h2>
                <p>
                    Bienvenidos a Delicias Rápidas, donde la rapidez se combina con el auténtico sabor. Somos una empresa profesional que se enorgullece de ofrecer comidas rápidas frescas, deliciosas y apasionadas. Desde nuestros irresistibles platos innovadores, hasta nuestras opciones para disfrutar en familia o con amigos. Conócenos y descubre por qué somos la elección preferida para quienes buscan una experiencia gastronómica rápida y satisfactoria.
                </p>
                <a href="/#seccionMenu">Nuestro Menú</a>
            </div>
            <img src="../icons/logoempresa.png" alt="Imagen de la empresa">
        </div>

        <div class="container-about__aside">
            <div class="section-about___aside">
                <h2>Misión</h2>
                <p>
                    Ser reconocidos como líderes en la industria de comidas rápidas, ofreciendo experiencias culinarias excepcionales que deleiten a nuestros clientes y superen sus expectativas. Aspiramos a ser pioneros en la creación de tendencias gastronómicas.
                </p>
            </div> 

            <div class="section-about___aside">
                <h2>Visión</h2>
                <p>
                    Nos dedicamos a proporcionar comidas rápidas, deliciosas, y preparadas con ingredientes de alta calidad. Buscamos crear momentos de alegría y satisfacción para nuestros clientes, manteniendo un compromiso constante con la excelencia en el servicio y la innovación en nuestros productos.
                </p>
            </div>            
        </div>
    </main>
    
    <div class="button-aside__ubicacion">
        <a href="/estamosAqui">
            ESTAMOS AQUÍ
            <img src="../icons/ubicacion.png" alt="ubicaion">
        </a>
    </div>
    
    <!-- <div class="button-aside__ubicacion">
        <a href="/estamosAqui">
            ESTAMOS AQUI
            <img src="../icons/ubicacion.png" alt="ubicaion">
        </a>
    </div> -->

<!-- Footer personalizado -->
<%- include('../partials/footer') %>

<!-- Footer -->
<%- include('../partials/custom-footer') %>