<!-- ZONA DE CONTACTO -->
<footer>
  <div class="zona-contactos">
    <div class="zona-contactos__datos">
      <span>Email: <a href="">correoelectronico@correo.com</a></span>
      <span>Líneas de Servicio al Cliente:</span>
      <span>Local: (57) 321-1234-234</span>
      <span>Nacional: (57) 321-1234-234</span>
    </div>
    
    <div class="zona-contactos__separador"></div>

    <!-- redes sociales -->
    <div class="zona-contactos__siguenos">
      <div>
        <h2 class="zona-contactos__siguenos__subtitulo">SÍGUENOS</h2>
      </div>
      <div>
        <a href=""><img src="../icons/whatsapp.png" alt="icono whatsapp"></a>
        <a href=""><img src="../icons/facebook.png" alt="icono Facebook"></a>
        <a href=""><img src="../icons/instagram.png" alt="icono instagram"></a>
      </div>
    </div>
  </div>

  <!-- Terminos y Condiciones -->
  <div class="tyc-footer">
    <a href="">Política de tratamiento de datos</a>
    <div class="tyc-footer__separador"></div>
    <a href="">Términos y Condiciones Generales</a>
  </div>  
</footer>